<h1>Dashboard#show</h1>





<a href="" class ="">
  <%= link_to "Create a new Card", new_card_path, class: 'btn btn-primary button-action create-card-button'%>
</a>

<a href="" class ="">
  <%= link_to "Create a new Deck", new_deck_path, class: 'btn btn-primary button-action create-deck-button'%>
</a>




 <a href="" class ="">
  <%= link_to "Show all cards", cards_path, class: 'btn btn-primary button-action show-cards-button'%>
</a>


 <a href="" class ="">
  <%= link_to "Show all Decks", decks_path, class: 'btn btn-primary button-action show-decks-button'%>
</a>
