<h1>Cards#edit</h1>




 <a href="" class ="">
  <%= link_to "Show all cards", cards_path, class: 'btn btn-primary button-action create-deck-button'%>
</a>


 <a href="" class ="">
  <%= link_to "Save changes", cards_path, class: 'btn btn-primary button-action create-deck-button'%>
</a>


 <div class="info">

    <%= link_to "Delete", card_path(@card.id), class: 'btn btn-primary modul', method: :delete, data: { confirm: "Are you sure?" } %>
  </div>

