<h1>Cards#index</h1>


<ul>
  <% @cards.each do |card| %>
  <li><%= link_to card.id, card_path(card) %></li>
  <% end %>
  <br></br>

<a href="" class ="">
  <%= link_to "Back", dashboard_path, class: 'btn btn-primary button-action create-deck-button'%>
</a>
