<h1>Cards#new</h1>

<p>Create a new card right here</p>



<div class="cards_new_wrap">
    <%= simple_form_for [@card] do |f| %>
    <div class="form-group">
    <%= f.input :word, as: :string, required: false, wrapper_html: {class: "requests_input"}, placeholder: 'Word' %>

     <%= f.input :translation, as: :string, required: false, wrapper_html: {class: "requests_input"}, placeholder: 'Translation'%>
     <%= f.input :hint, as: :text, required: false, wrapper_html: {class: "requests_input"}, placeholder: 'Hint' %>

    <%= f.input :deck_id, as: :integer, required: false, wrapper_html: {class: "requests_input"}, placeholder: 'Deck number' %>

   </div>
    <div class="butu d-flex justify-content-around align-items-baseline">
      <%= f.submit "Save", id: 'sweet-alert-save', class: 'btn btn-primary new-card button-action' %>
      <%= link_to "Cancel", dashboard_path, id:'Cancel'%>
    </div>
    <% end %>
</div>





<!--
input fields:
- word
-translation
-hint
-deck name

 field to click in for pictre
 - open module to either upload from user or google search

save btn
cancel btn

  -->
