<h1>Cards#show</h1>
<p>Show a card right here</p>

<h2><%= @card.word%></h2>
<div>
  <ul>
    <li>Translation: <%= @card.translation %></li>
    <li>Hint: <%= @card.hint %></li>
  </ul>
</div>



<a href="" class ="">
  <%= link_to "Back", cards_path, class: 'btn btn-primary button-action create-deck-button'%>
</a>

<a href="" class ="">
  <%= link_to "Edit", edit_card_path, class: 'btn btn-primary button-action create-deck-button'%>
</a>
