<h1>decks#edit</h1>



 <a href="" class ="">
  <%= link_to "Show all decks", decks_path, class: 'btn btn-primary button-action show-decks-button'%>
</a>


 <a href="" class ="">
  <%= link_to "Save changes", decks_path, class: 'btn btn-primary button-action create-deck-button'%>
</a>


 <div class="info">

    <%= link_to "Delete", deck_path(@deck.id), class: 'btn btn-primary modul', method: :delete, data: { confirm: "Are you sure?" } %>
  </div>

