<h1>decks#index</h1>


<ul>
  <% @decks.each do |deck| %>
  <li><%= link_to deck.id, deck_path(deck) %></li>
  <% end %>
  <br></br>

<a href="" class ="">
  <%= link_to "Back", dashboard_path, class: 'btn btn-primary button-action create-deck-button'%>
</a>
