<h1>Decks#new</h1>

<a href="" class ="">
  <%= link_to "Save Card", dashboard_path, class: 'btn btn-primary button-action save-button'%>
</a>

<a href="" class ="">
  <%= link_to "Cancel", dashboard_path, class: 'btn btn-primary button-action cancel-button'%>
</a>
