<h1>Decks#show</h1>

<h2><%= @deck.name %></h2>


 <a href="" class ="">
  <%= link_to "Show all decks", decks_path, class: 'btn btn-primary button-action back-button'%>
</a>


 <a href="" class ="">
  <%= link_to "Edit this deck", edit_deck_path, class: 'btn btn-primary button-action edit-deck-button'%>
</a>


 <a href="" class ="">
  <%= link_to "Play", round_path, class: 'btn btn-primary button-action create-deck-button'%>
</a>
